//
// VARIABLES
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
//== Fonts

$font-primary: 'Delius Unicase';
$font-secondary: 'PT Sans';
$font-stack-primary: $font-primary, Arial, sans-serif;
$font-stack-secondary: $font-secondary, Arial, sans-serif;
