//
// VARIABLES
// --------------------------------------------------


//== Colors

$orange: #e8603c;
$blue: #5bc0de;
$darkblue: #337ab7;
$green: #5cb85c;
$red: #d9534f;
$dark-orange: #A34813;
$brown: #673103;
$grey: #424242;

//== Functions
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


//== Mixins